<div class="well text-center center-block" id="eventTab">
    <h1 class="h1_label primary-text-color" id="eventTitle"></h1>
    <hr class="divider-color">
    <div>
        Organization: <p class="maintext pad" id="belongsOrg"></p>
        Start: <p class="maintext pad" id="startDate"></p>
        Ends: <p class="maintext pad" id="closeDate"></p>
        Address: <p class="maintext pad" id="address"></p>
        <hr class="divider-color">
        <h3 class="h1_label primary-text-color">Event Container</h3>
        <h3 class="h1_label primary-text-color" id="containerTitle"></h3>
        Type of Products: <p class="maintext pad" id="containerType"></p>
        Total Capacity: <p class="maintext pad" id="capacity"></p>
        Available Products: <p class="maintext pad" id="available"></p>
    </div>
</div>