    <!-- Script includes -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/js/jquery.rest.js"></script>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/node_modules/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="/node_modules/bootstrap-material-design/dist/js/ripples.min.js"></script>

    <script src="/js/material_init.js"></script>
    <script src="/js/animate.js"></script>
    <script src="/js/register.js"></script>
    <script src="/js/reg-volntr.js"></script>
    <script src="/js/reg-orgztn.js"></script>
    <script src="/js/testapi.js"></script>