    <!-- Script includes -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.rest.js"></script>

    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="node_modules/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="node_modules/bootstrap-material-design/dist/js/ripples.min.js"></script>

    <script src="js/node_modules/flatpickr/dist/flatpickr.min.js"></script>
    
    
    <script src="js/material_init.js"></script>
    <script src="js/register.js"></script>
    <script src="js/showOrgDetails.js"></script>
    <script src="js/orgRouting.js"></script>
    <script src="js/createEvent.js"></script>
    <script src="js/getEventsByOrg.js"></script>
    