

  <!-- Sign Up Modal -->
	<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3 class="modal-title">Sign Up</h3>
				</div>
				<div class="modal-body">
					<!--form start-->
					<form class="form-horizontal">
						<fieldset>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" id="inputEmail3" placeholder="Email" required>
							</div>
						</div>
						<div class="form-group"  >
							<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="inputPassword3" placeholder="Password" required>
							</div>
						</div>
						<div class="form-group">
					      <label class="col-md-2 control-label"></label>

					      <div class="col-md-10">
					        <div class="radio radio-primary">
					          <label>
					            <input name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">
					            I am a Volunteer
					          </label>
					        </div>
					        <div class="radio radio-primary">
					          <label>
					            <input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
					            I am an Organization
					          </label>
					        </div>
					      </div>

					    </div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-md-10">
								<button type="submit" class="btn btn-primary">Sign Up</button>
								<button type="reset" class="btn btn-default">Reset</button>
							</div>
						</div>
					</fieldset>
					</form>
					<!--form end-->
				</div>
				<div class="modal-footer">
			         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			  </div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>



