    
    <nav class="col-md-2 col-sm-2  navbar sidenav navbar-fixed-left well">
        
        <ul class="side_menu list-unstyled col-md-offset-1 text-center">
            <!-- <div class="list-group">
                <div class="list-group-item"> -->
                   <li><div class="row-picture"  id="showOrgDetailsImg">
                       <!-- <div class="row-picture"></div> -->
                        </div>
                </li> 
            <!--    </div>
            </div> -->
            <li class="anton maintext"><a href="#" id="homePage" class="text-primary-color">HOME PAGE</a></li>
            <li class="anton maintext"><a href="#" id="eventsPage" class="text-primary-color">EVENTS</a></li>
            <li class="anton maintext"><a href="#" class="text-primary-color">CREATE EVENT</a></li>
            
        </ul>
        
    </nav>
    