
body { 
    
    padding-top: 5.7em !important;
        
}

.hover-ul:hover{
  background-color: #78909c !important; 
}

.navbar-brand:hover{
  background-color: #78909c !important; 
}

#footer {
  padding-top: 1em;
  margin-top: 5em;
 
  bottom: 0;
   
}

#sidenav {
    padding: 1em !important;
    background-color: #2b313a !important;
}

.side_menu ul:not{
    display: block;
}

.side_menu li {
    margin-right: 1em !important;
    padding: 1em !important;
}

.side_menu li:hover{
   
   color: #eeeeee !important;
   text-decoration: none !important;
}
.side_menu li a{
    transition: color 0.5s ease;
    color:#CFD8DC  !important;
}


.side_menu li a:hover{
   text-decoration: none !important;
   color:#FF5252 !important;
}

.pad {
    padding: 1em;
}







.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}


/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}