.logo { font-family: 'Anton', sans-serif !important;}
.logo-small{ font-family: 'Lobster', sans-serif;color: #eeeeee !important;}
.h1_label { font-family: 'Anton', sans-serif;}
.modal-title  { font-family: 'Anton', sans-serif !important;}
#panelTitle {text-transform: uppercase;}
#error { font-family: 'Anton', sans-serif;}
#errorJumbotron{background-color:#f44336;}
.anton { font-family: 'Anton', sans-serif !important;}
.lobster{ font-family: 'Lobster', sans-serif !important;}
.maintext{font-size: 1.3em !important;}
