<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
</head>
<body>

    <div id="react"></div>
		<form action="/login"  method="post">
    		Email<input type="email" name="email" />
    		Password<input type="password" name="password" />
    		<p><span th:text="${session.message}"></span><span th:text="${session.constraint}"></span></p>
    		<button>Submit</button>
		</form>

</body>
</html>